body {
    color: #f2f2f2;
    font-size: 12px;
    background-image: url("Particles_Moving.Gif");
 
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 10x;
  position: absolute;
  bottom: 10000x;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}



@keyframes fade {
  from {opacity: .4} 
  to {opacity: 3}
}